.next-story-container {
    position: relative;
}

@media (min-width: 768px) {
    .next-story-container {
        margin-bottom: 16px;
        /* padding: 16px; */
    }
}

.next-story-container #next-story-article .next-story-section fieldset {
    border-style: solid hidden hidden hidden;
    text-align: center;
    border-color: #000;
    border-width: 1px;
    width: 80%;
    margin: 10px auto;
}
.next-story-container #next-story-article .next-story-section fieldset legend {
    font-size: 14px;
    font-weight: 400;
    color: #424242;
    padding: 0 14px;
    font-style: italic;
}
.next-story-container #next-story-article .next-story-section fieldset img {
    width: 16px;
    margin: 0 auto;
}

.next-story-section .article-content .detail .paragraph img {
    width: 100%;
}

.next-story-section {
    text-align: start;
    margin-top: 15px;
}
.next-story-section .next-story-title {
    font-size: 30px;
    width: 100%;
    overflow: hidden;
}
.next-story-author div {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #424242;
    height: 30px;
}   
.author-name {
    margin-left: 5px;
}
.author-name a {
    font-size: 15px;
}

.date-socialIcon {
    display: flex;
    flex-direction: inherit;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 5px;
    height: 47px;
}
.date-time {
    font-size: 15px;
    color: #757575;
}
.socialIcon {
    margin-left: 30px;
}

.date-socialIcon .icons {
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin: 4px 0;
}

.article-content .detail .paragraph div {
    margin: 20px auto;
}

.readMoreStory {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.readMoreStory .moreButton a {
    width: 330px;
    display: inline-block;
    border-radius: 12px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #00b1cd;
    padding: 5px 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #00b1cd;
}

/* css for tags section */
.tags-section  {
    min-width: 100%;
}

.tags-section .tags-container {
    position: relative;
    overflow: hidden;
    display: -webkit-flex;
    align-items: center;
    flex-wrap: nowrap;
}
.tags-section .tags-container .tags {
    display: -webkit-flex;
    align-items: center;
    overflow-x: auto;
    flex-wrap: nowrap;
    line-height: 20px;
    padding-right: 5px;
    scroll-behavior: smooth;
}
.tags-section .tags-container .tags li {
    margin-right: 8px;
    border: solid 1px #d2d2d2;
    border-color: rgba(0,177,205,0.2);
    background-color: rgba(0,177,205,0.06);
    height: 35px;
    text-align: center;
    border-radius: 8px;
}

.tags-section .tags-container .tags li a {
    font-family: "Lato", SANS-SERIF;
    font-size: 14px;
    display: -webkit-flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 4px 12px;
    box-sizing: border-box;
}
