.desktopAd.dh250 {
    min-height: 273px;
}

@media (min-width: 1024px) {
    .desktopAd {
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 20px 0;
    }
}

.desktopAd {
    justify-content: center;
}