#category-wise-article-section {
    display: flex;
    justify-content: center;
}

@media (max-width: 480px) {
    #category-wise-article-section {
        display: block;
        width: 100%;
        margin-top: 90px !important;
    }
}
    
@media (max-width: 767px) {
    #category-wise-article-section {
        margin-top: 0;
    }
}