/* Main container for news items */
.category-wise-article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f1f1f1;
    max-width: 42%;
  }

  @media (max-width: 490px) {
    .category-wise-article-container {
      padding: 0 5px 10px 5px;
    }
  }
  
  /* Each column of categorized articles */
  .articles {
    width: 100%;
    padding: 6px;
    background-color: #ffffff;
    margin-bottom: 20px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Category title */
  h2 {
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  /* Individual news item */
  .news-item {
    margin-bottom: 20px;
    box-shadow: grey;
    border-style: none;
    border-radius: 4px;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 4px 8px lightgrey;
    padding: 10px 10px;
  }
  .news-item:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
  }
  
  /* Article title */
  .news-item h3 {
    color: #000000;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
    white-space: initial;
    overflow: hidden;
    text-align: left;
  }
  
  .news-item h3:hover {
    text-decoration: underline;
  }
  
  /* Article content */
  .news-item p {
    color: #555;
    font-size: 1rem;
    line-height: 1.6;
    overflow: hidden;
  }
  
  /* Article image */
  #first-news-item-image {
    width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .category-wise-article-container {
        margin: 3% 1% 10% 1%;
        max-width: 100%;
    }
    .articles {
      width: 80%;
      margin-bottom: 20px;
    }
  
    .news-item {
      padding: 10px;
    }
  
    .news-item h3 {
      font-size: 1.1rem;
    }
  
    .news-item p {
      font-size: 0.9rem;
    }
  }
  
  @media (max-width: 480px) {
    .articles {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .category-wise-article-container {
        margin: 0 1% 0 0;
        max-width: 100%;
    }
  
    .news-item h3 {
      font-size: 1rem;
    }
  
    .news-item p {
      font-size: 0.8rem;
    }

    .other-news-item .categoryPublishTime {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      overflow: hidden;
      height: 65px;
    }

    .other-news-item #publishedDateTime {
      text-align: left;
      color: #757575;
      font-size: 14px;
      margin-left: 0;
    }

    .first-news-item .categoryPublishTime {
      display: flex;
      flex-direction: column;
      justify-content: start;
      flex-wrap: wrap;
      overflow: hidden;
    }

    .first-news-item .categoryPublishTime .secName{
      text-align: start;
    }
  }
  

/* publish date time */
#publishedDateTime {
    text-align: left;
    color: #757575;
    font-size: 14px;
}
@media (min-width: 768px) {
  #publishedDateTime {
    margin-left: 15px;
  }
}

/* publish image */
#publishImage {
    border-radius: 4px;
}

/* category publish time in top article section */
.categoryPublishTime {
    display: flex;
    flex-wrap: wrap;
    flex-direction: inherit;
    height: 31px;
    overflow: hidden;
}
.secName a {
    line-height: 17px;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 2px;
    color: #00b1cd; 
}

/* top news header of the middle article section */
.secHdg h1 {
  text-align: center;
  font-family: "blacker_pro_displayheavy";
  font-size: 20px;
  font-weight: bolder;
}

/* .secHdg h1 {
    text-align: center;
    font-family: "blacker_pro_displayheavy";
    font-size: 20px;
    font-weight: normal;
} */

.hdgTexure, .hdgTexure::after, .hdgTexure::before {
  position: absolute;
  top: 170px;
  left: 0;
  height: 2px;
  width: 100%;
  border-top: solid 1px #dbdbdb;
}

.secHdg a, .secHdg .hdgStyle {
  font-family: "blacker_pro_displayheavy";
}

.hdgStyle {
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding: 0 1px;
  margin-left: 10px;
  margin-right: 10px;
  display: initial;
  vertical-align: text-top;
}

.hdgStyle span {
  font-family: "blacker_pro_displayheavy";
  color: #00b1cd;
  font-size: 20px;
  line-height: 25px;
  padding: 0 2px;
  display: inline;
}
.hdgStyle h1 {
  display: inline;
}


.categoryPublishTime .secName:hover{
  text-decoration: underline;
  text-decoration-color: #00b1cd;
  text-decoration-thickness: 1px;
}

.secHdg.htImpressionTrackingTop {
  padding-bottom: 0;
  border-bottom-style: none;
  padding-top: 10px;
  margin-bottom: 5px;
}




/* for line on the articles */
.hdgTexure::before {
  content: "";
  display: block;
  top: -4px;
}
.hdgTexure, .hdgTexure::after, .hdgTexure::before {
  position: relative;
  top: 8px;
  left: 0;
  height: 2px;
  width: 100%;
  border-top: solid 1px #dbdbdb;
}

.hdgTexure::after {
  content: "";
  display: block;
  top: 2px;
}
.hdgTexure, .hdgTexure::after, .hdgTexure::before {
  position: relative;
  top: 8px;
  left: 0;
  height: 2px;
  width: 100%;
  border-top: solid 1px #dbdbdb;
}


.other-news-item {
  display: flex;
}
.other-news-item .other-news-item-image{
  width: 116px !important;
  height: 87px !important;
}