.article-detail {
    padding: 20px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
  }
  
  .article-detail h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .article-detail p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 10px;
  }

  .article-img {
    max-width: 40%;
  }
  