<!DOCTYPE html>
<html>
<head>
    <title>{% if object %}Edit Article{% else %}Create Article{% endif %}</title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <h1>{% if object %}Edit Article{% else %}Create Article{% endif %}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% load custom_filters %}

        <!-- Render individual form fields to apply select2 -->
        <div>
            <label for="id_title">Title:</label>
            {{ form.title }}
        </div>
        <div>
            <label for="id_content">Content:</label>
            {{ form.content }}
        </div>
        <div>
            <label for="id_authorID">Author:</label>
            {{ form.authorID }}
        </div>
        <div>
            <label for="id_status">Status:</label>
            {{ form.status }}
        </div>
        <div>
            <label for="id_categories">Categories:</label>
            {{ form.categories|add_class:"select2" }}
        </div>
        <div>
            <label for="id_tags">Tags:</label>
            {{ form.tags|add_class:"select2" }}
        </div>

        <div>
            <label for="id_image">Image:</label>
            {{ form.image }}  <!-- Add image field -->
        </div>

        <button type="submit">{% if object %}Update{% else %}Create{% endif %}</button>
    </form>
    <a href="{% url 'article_list' %}">Back to Article List</a>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.select2').select2();
        });
    </script>
</body>
</html>
